body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;

}

.star-wars {
    display: flex;
    justify-content: center;
    height: 800px;
    perspective: 400px;
    color: #feda4a;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    text-align: justify;
}

.crawl-block {
    position: relative;
    top: -100px;
    transform-origin: 50% 20%;
    animation: crawl-animation 30s linear infinite;
}

.crawl-block p {
    margin: 30px 0;
}

.title p, h1 {
    text-align: center;
    padding: 70px 0;
    text-transform: uppercase;
}













@keyframes crawl-animation {
    0% {
        top: 1000px;
        transform: rotateX(25deg) translateZ(0);
    }
    100% {
        top: -2000px;
        transform: rotateX(30deg) translateZ(-1100px);
    }
}